@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
:root {
  --primary-color: #335eea;
  --secondary-color: #212121;

  --btn-hover-color: #2b50c7;
  --btn-glow-color: #172966;

  --text-bright: #fff;
  --text-content: #869ab8;
  --fixed-header-height: 4.5rem;

  --small-font-size: .8rem;
  --normal-font-size: 1rem;
  --medium-font-size: 1.15rem;
  --large-font-size: 1.4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--secondary-color);
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  width: 100%;
}

.header {
  height: var(--fixed-header-height);
  padding: 0 1.7rem;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h2 {
  font-size: var(--large-font-size);
  color: var(--primary-color);
}

.text-md-content {
  color: var(--text-bright);
  font-weight: 500;
  font-size: var(--normal-font-size);
}

.nav_menu_list {
  display: flex;
  align-items: center;
}

.nav_menu_list .nav_menu_item {
  margin: 0 2rem;
}

.nav_menu_item .nav_menu_link {
  font-size: var(--normal-font-size);
  color: var(--text-bright);
  font-family: inherit;
  cursor: pointer;
  position: relative;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 600ms;
  transition-property: color;
}

.nav_menu_link.active {
  color: var(--primary-color);
}

.nav_menu_link:focus,
.nav_menu_link:hover {
  color: var(--text-bright);
}

.nav_menu_link:focus:after,
.nav_menu_link:hover:after {
  width: 100%;
  left: 0%;
}

.nav_menu_link:after {
  content: "";
  pointer-events: none;
  bottom: -5px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.toggle_btn {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-color);
  z-index: 4;
}

.nav_menu, .close_btn {
  display: none;
}

.show {
  right: 3% !important;
}

.wrapper {
  width: 100%;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  padding-top: 5rem;
  margin-bottom: 5rem;
}

.grid-cols-2 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.grid-item-1 {
  padding-top: 4rem;
  padding-left: 1.5rem;
}

.main-heading {
  font-weight: 500;
  font-size: 40px;
  line-height: 55px;
  color: var(--text-bright);
}

.alt-heading {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 50px;
  padding-top: var(--large-font-size);
  color: var(--text-bright);
}

.main-heading > span, .alt-heading > span {
  color: var(--primary-color);
}

.info-text {
  margin-top: 1.5rem;
  font-size: var(--normal-font-size);
  line-height: 25px;
  color: var(--text-content);
}

.btn_wrapper {
  margin-top: 3.5rem;
  display: flex;
  width: 100%;
}

.btn {
  width: 110px;
  height: 50px;
  background-color: var(--primary-color);
  display: block;
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  border-radius: 7px;
  letter-spacing: 1px;
  transition: 0.4s;
}

.btn:hover {
  transform: translateY(-3px);
  background-color: var(--btn-hover-color);
}

.view_more_btn {
  width: 150px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--normal-font-size);
  letter-spacing: 0;
  color: var(--text-bright);
  font-weight: 500;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}

.view_more_btn i {
  margin-left: 0.7rem;
}

.view_more_btn:hover {
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}

.grid-item-2 {
  width: 100%;
  height: 100%;
}

.team_img_wrapper {
  width: 500px;
  max-width: 100%;
  height: 440px;
}

.team_img_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.grid-cols-default {
  width: 100%;
  height: 100%;
  display: grid;
  row-gap: 2rem;
  padding: 1rem;
}

.grid-cols-3 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 2rem;
  padding: 1rem;
}

.grid-cols-4 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.grid-col-item {
  height: fit-content;
  border: 2px solid var(--primary-color);
  background-color: var(--btn-glow-color);
  padding: 20px;
  border-radius: 5px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
  transform: translateY(-6em);
  z-index: 1;
}

.social-media li {
  background: #f5f5f5;
  display: inline-flex;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: all .3s ease-in;
}

.social-media li svg {
  width: var(--large-font-size);
  fill: var(--primary-color);
}

.cardBox-item {
  height: fit-content;
  background-color: var(--text-bright);
  border-radius: 5px;
  text-align: center;
}

#book-title {
  border-bottom: 1px solid var(--primary-color);
  padding: 15px;
}

.bookItem {
  display: flex;
  row-gap: 1.5rem;
  flex-direction: column;
}

.bookItem:hover h2, .bookItem:hover span {
  filter: blur(3px);
  transition: .5s;
}

.bookItem:hover .social-media li {
  transform: translateY(-5%);
  opacity: 1;
}

.bookItem:hover .social-media li:nth-child(1) {
  transition-delay: 0s;
}

.bookItem:hover .social-media li:nth-child(2) {
  transition-delay: .1s;
}

.bookItem:hover .social-media li:nth-child(3) {
  transition-delay: .2s;
}

.bookItem h2 {
  color: var(--primary-color);
  font-weight: 600;
  font-size: var(--normal-font-size);
  transition: .5s;
}

.bookItem span {
  color: var(--text-content);
  font-weight: 500;
  font-size: var(--normal-font-size);
  transition: .5s;
}

.hero-content {
  height: fit-content;
  background-color: var(--primary-color);
  padding: 20px;
}

.icon {
  width: 100%;
  line-height: 40px;
}

.icon svg {
  width: 30px;
  height: 30px;
  color: var(--text-bright);
}

.featured_info {
  width: 100%;
}

.featured_info span {
  width: 100%;
  display: block;
  font-size: var(--medium-font-size);
  line-height: 35px;
  color: var(--text-bright);
  font-weight: 600;
}

.featured_info p {
  display: block;
  width: 100%;
  margin-top: 15px;
  font-weight: 700;
  color: var(--primary-color);
  line-height: 25px;
  font-size: 35px;
}

@media screen and (min-width: 1040px) {
  .container {
    width: 1040px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .toggle_btn {
    display: none;
  }
  .nav_menu {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .logo h2 {
    font-size: var(--large-font-size);
  }
  .nav_menu {
    position: fixed;
    width: 93%;
    height: 100%;
    display: block;
    top: 2.5%;
    right: -100%;
    background-color: var(--secondary-color);
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
    z-index: 50;
    transition: 0.4s;
  }
  .nav_menu_list {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4rem;
  }
  .nav_menu_list .nav_menu_item {
    margin: 1rem 0;
  }
  .nav_menu_item .nav_menu_link {
    font-size: 18px;
  }
  .close_btn {
    display: block;
    position: absolute;
    right: 10%;
    font-size: 25px;
    color: var(--primary-color);
  }
  .close_btn:hover {
    color: #000;
  }
  .wrapper {
    padding: 0 0.7rem;
  }
  .grid-item-1 {
    padding-left: 0rem;
  }
  .main-heading {
    font-size: 35px;
  }
  .view_more_btn {
    width: 50%;
    height: 55px;
    font-size: var(--normal-font-size);
    margin-right: 1rem;
  }
  .grid-cols-3 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    row-gap: 0.7rem;
  }
  .grid-cols-4 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    row-gap: 0.7rem;
  }
  .featured_info p {
    line-height: 15px;
    font-size: 30px;
  }
}

@media screen and (max-width: 991px) {
  .wrapper {
    padding-top: 3rem;
  }
  .grid-cols-2 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .grid-item-1 {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }
  .main-heading, .alt-heading {
    font-size: 30px;
    text-align: center;
    line-height: 40px;
  }
  .info-text {
    font-size: 16px;
    text-align: center;
    padding: 0.7rem;
  }
  .btn_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grid-item-2 {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .team_img_wrapper {
    width: 350px;
    height: 350px;
  }
  .featured_info span {
    font-size: 19px;
  }
}
